.skills {
  height: 100vh;
  background-image: url("./laptop.jpg");
  background-size: cover;
}

.skill-name:hover {
  color: #23ce6b;
}

.skills-header {
  color: #23ce6b;
  margin: 12vh 0vw 5vh 0vw;
}

.skills-list {
  margin: 0rem 3rem 2rem 3rem;
  align-items: baseline;
  font-size: 20px;
  background-color: #5f6a75;
  box-shadow: 2px 2px 3px rgb(39, 39, 39);
  padding: 1rem;
  gap: 1vh;
  border-radius: 1rem;
}

.skill {
  color: #23ce6b;
}

/* Tablet */
@media (min-width: 480px) {
  .skill {
    font-size: 1.3rem;
  }

  .skills-header {
    margin: 10vh 0vw 5vh 0vw;
    font-size: 3rem;
  }

  .skills-list {
    margin: 0vh 23vw 3vh 23vw;
  }
}

/* Laptop */
@media (min-width: 1024px) {
  .skill {
    font-size: 1.5rem;
  }

  .skills-header {
    font-size: 4rem;
  }

  .skills-box {
    flex-direction: row;
    justify-content: space-around;
    margin: 15vh 10vw 0vh 10vw;
  }

  .skills-list {
    margin: 0%;
    min-width: 20vw;
    align-items: center;
    justify-content: space-around;
  }

  .skills-header {
    margin-top: 15vh;
  }
}

/* Laptop */
@media (min-width: 1440px) {
  .skill {
    font-size: 1.5rem;
  }

  .skills-header {
    font-size: 4rem;
  }

  .skills-box {
    flex-direction: row;
    justify-content: space-around;
    margin: 15vh 10vw 0vh 10vw;
  }

  .skills-list {
    padding: 3rem 0 3rem 0;
    margin: 0%;
    min-width: 20vw;
    align-items: center;
    justify-content: space-around;
  }

  .skills-header {
    margin-top: 15vh;
  }
}
