* {
  /* border: 1px red dotted; */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Share Tech', sans-serif;
  background-color: #5f6a75;
  color: #EFF2F1;
}

.flex {
  display: flex;
  flex-direction: column;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  font-size: 1rem;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.icon {
  font-size: 2.5rem;
}

.icon-small {
  font-size: 1.5rem;
}

.background {
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  object-fit: cover;
  overflow: hidden;
}

.green-text {
  color: #23CE6B;
}

.project-header, .profile-header, .skills-header {
  width: 100vw;
  height: 10vh;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-weight: 700;
}

/* Desktop */
@media (min-width: 1000px) {
  .project-header, .profile-header, .skills-header {
    font-size: 50px;
  }
}