.project-header {
  margin-top: 10vh;
}

.project-desktop {
  display: none;
}

.project-card {
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 6px rgb(39, 39, 39);
  margin: 1.5rem 1rem 1.5rem 1rem;
  background-color: #c8d2d3;
  padding: 1.5rem 0 1.5rem 0;
  border-radius: 1rem;
}

.project-image {
  width: 80vw;
  border-radius: 1rem;
  box-shadow: 3px 3px 6px rgb(177, 177, 177);
}

.project-body {
  width: 78vw;
}

.project-card-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  font-size: large;
  color: #2B2D42;
}

.project-title {
  font-weight: 200;
  font-size: 19px;
}

.project-header {
  font-size: 35px;
  font-weight: 100;
}

.project-description {
  font-size: 15px;
  line-height: 1.2;
  text-align: justify;
  color: #2B2D42;
}

/* Tablet */
@media (min-width: 480px) {
  .projects {
    align-items: center;
  }

  .project-header {
    margin-top: 12vh;
    font-size: 45px;
  }

  .project-image {
    width: 30vw;
    object-fit: cover;    
  }

  .project-card {
    flex-direction: row;
    width: 70vw;
  }

  .project-body {
    width: 30vw;
    margin-left: 5vw;
  }

  .skills-banner {
    height: 110%;
  }
}

/* Laptop */
@media (min-width: 1024px) {
  .project-header {
    margin-top: 10vh;
  }
  
  .projects {
    display: grid;
    grid-template-columns: 45vw 45vw;
    align-items: center;
    justify-content: center;
  }

  .project-card {
    margin-left: 2.5vw;
    flex-direction: column;
    max-width: 40vw;
  }

  .project-image {
    width: 30vw;
    margin: 0%;
  }

  .project-body {
    margin: 0%;
  }
  
  .project-title{
    font-size: 22px;
  }

  .project-description {
    font-size: 19px;
    font-weight: 100;
  }

  .skills-banner {
    height: 235%;
    top: 108vh;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .project-header {
    font-size: 60px;
  }
  
  .projects {
    max-width: 100vw;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    overflow: hidden;
  }

  .project-card {
    width: 19vw;
    height: 19vw;
    padding: 0%;
    margin: 0%;

  }

  .project-body {
    padding: 0%;
    margin: 0%;
  }

  .project-image {
    visibility: hidden;
    height: 0%;
    width: 0%;
  }

  .project-header {
  }

  .project-title {
    font-size: 12px;
  }
  
  .project-description {
  }

  .skills-banner {
  }

  .project-desktop {
    display: block;
    background-image: url("./photos/rubychess.png");
    width: 13vw;
    height: 13vw;
    background-size: cover;
  }
  
  .overlay {
    width: 13vw;
    height: 13vw;
  }
  .overlay:hover {
    background-color: rgba(0, 0, 0, 0.411);
  }
  
  .overlay-title, .overlay-text {
  }

  .hidden {
    visibility: hidden;
  }

  .mobile, .tablet {
    display: none;
  }
}